.hero-bg{
    position: relative;
  width: 98vw;
  height: 400px;
  background-image: url("./assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  color: antiquewhite;
  text-align: center;
}
.group-img{
    width: 150px;
}
.text-gm{
    color: black;
    font-weight: bold;
    text-align: center;
   
}
.hero-gn{
    color: black;
    font-size: small;
}
.btn-gm{
    background-color: black;
    padding: 10px;
    color:white;
    border-radius: 8px;
}
.tiger-gm{
    text-align: center;
    margin-bottom: 50px;
}
.biral-gm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}
.biral-left{
    width: 250px;
}
.biral-left p{
    font-size: small;
}
.baron-btn{
    padding: 5px 12px;
    background-color: white;
    border: 1px solid black;
}
.somy-tv{
    display: flex;
    justify-content: center;
}
.somy-tv h2{
    text-align: center;
}
.somy-tv p{
    text-align: center;
}
.somoy-tv{
    display: flex;
    justify-content: center;
    border-radius: 8px;

}
.card-s{
    display:flex;
    justify-content: center;
    margin-top: 50px;

}
.card-s h2{text-align: center;
    
}
.card1{
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 8px;
}
.card2{
    padding: 10px;
    background-color:azure;
    border-radius: 8px;
}
.card3{
    padding: 10px;
    background-color:beige;
    border-radius: 8px;
}
/* .card3 a{
    color: black;
} */
.card-g{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 50px;
}
.s-3{
    position: relative;
    width: 98vw;
    height: 400px;
    background:rgba(0,0,0,0.6) url("./assets/handshake.jpg");
    background-size: cover;
    background-position: center;
    color: antiquewhite;
    text-align: center;
    filter: brightness(30%);
    z-index: 1;
    background-blend-mode: normal;
    

}
.s-text{
    color: white;
    padding-top: 110px;
    z-index: 2;
    
}